tmp/
/fractal_thread/*.png
/fractal_thread/target
/fractal_seq/*.png
/fractal_seq/target/
/fractal_fast/target/
/fractal_fast/src/*.png

/project/*.tar.xz
*.png
/*.png
/*/.png
comparison_tests/*/target
test/*.exe
test/13_functional
test/35_control_flow
test/6_enums_pattern_matching
test/7_modules
test/8_common_collections